<!-- Footer -->
<footer class="page-footer font-small transparent pt-3">
    <!-- Footer Elements -->
    <div class="container">

        <!--Grid row-->
        <div class="row">

            <!--Grid column-->
            <div class="col-lg-2 offset-5 col-md-4 mb-4">

                <!--Image-->
                <div class="view overlay z-depth-0">
                    <img src="../../assets/img/lucasian-logo.png" class="img-fluid" height="50" alt="">
                </div>
                <div>
                    <p class="h5 text-dark text-center ml-5">{{today | date:'MM/dd/yyyy'}}</p>
                </div>

            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->

    </div>
    <!-- Footer Elements -->
</footer>
<!-- Footer -->