<mdb-navbar SideClass="navbar navbar-expand-lg transparent z-depth-0" [containerInside]="false">
    <mdb-navbar-brand class="float-left">
        <a class="navbar-brand" href="#">
            <img src="../../assets/img/lucasian-logo.png" height="70" alt="">
        </a>
    </mdb-navbar-brand>
    <links>

        <!-- Links -->
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active mt-3">
                <a class="nav-link waves-light" mdbWavesEffect> Menu 1</a>
            </li>
            <li class="nav-item mt-3">
                <a class="nav-link waves-light" mdbWavesEffect> Menu 2</a>
            </li>
            <li class="nav-item active mt-3">
                <a class="nav-link waves-light" mdbWavesEffect> Menu 3</a>
            </li>
            <li class="nav-item mt-3">
                <a class="nav-link waves-light" mdbWavesEffect> Menu 3</a>
            </li>
            <li class="nav-item active mt-3">
                <a class="nav-link waves-light" mdbWavesEffect> Menu 4</a>
            </li>
            <li class="nav-item active mt-3">
                <a class="nav-link waves-light" mdbWavesEffect> Menu 5</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link waves-light" mdbWavesEffect>
                    <button type="button" mdbBtn color="primary" mdbWavesEffect>LOGIN</button>
                </a>
            </li>

        </ul>
        <!-- Links -->
    </links>
</mdb-navbar>