<div class="container">
    <div class="row">
        <div class="col-4 mt-5">
            <mdb-card class="z-depth-0">
                <mdb-card-body>
                    <mdb-card-title>
                        <mdb-badge pill="true" class="text-center h5 green lighten-5 text-default" default="true">Texto</mdb-badge>
                        <h2>Contenido Extra Lorem ipsum dolor sit amet consectetur</h2>
                    </mdb-card-title>
                    <mdb-card-text>Some quick example text to build on the card title and make
                    </mdb-card-text>
                    <div class="flex-row">
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button mdbBtn type="button" color="primary" class="waves-light" mdbWavesEffect>Mes</button>
                            <button mdbBtn type="button" color="light" outline="true" class="waves-light text-dark" mdbWavesEffect>Año
                          </button>
                            <div class="ml-n5 mt-n2" style="z-index: 1;">
                                <mdb-badge pill="true" success="true">10% OFF</mdb-badge>
                            </div>
                        </div>
                    </div>
                </mdb-card-body>
            </mdb-card>
        </div>
        <div class="col-8">
            <div class="row">
                <div class="col-6 mt-5">
                    <mdb-card cascade="true" class="text-center" narrower="true">

                        <div class="view view-cascade  text-white primary-color text-left">
                            <h4 class="ml-3 mt-4">Plan 1</h4>
                            <span class="ml-3 h4">$</span>
                            <h1 class="card-header-title h1 ml-3 mb-4">22 <span class="h6">/mont</span></h1>
                            <div class="text-center">

                            </div>
                        </div>

                        <mdb-card-body cascade="true" class="text-center">
                            <!--Card content-->

                            <mdb-card-text class="text-left">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <mdb-badge pill="true" color="blue lighten-4">
                                            <fa-icon [icon]="play" class="text-primary"></fa-icon>
                                        </mdb-badge>
                                        opcion
                                    </li>
                                    <li class="list-group-item">
                                        <mdb-badge pill="true" color="blue lighten-4">
                                            <fa-icon [icon]="play" class="text-primary"></fa-icon>
                                        </mdb-badge>
                                        opcion
                                    </li>
                                    <li class="list-group-item">
                                        <mdb-badge pill="true" color="blue lighten-4">
                                            <fa-icon [icon]="play" class="text-primary"></fa-icon>
                                        </mdb-badge>opcion
                                    </li>
                                    <li class="list-group-item">
                                        <mdb-badge pill="true" color="blue lighten-4">
                                            <fa-icon [icon]="play" class="text-primary"></fa-icon>
                                        </mdb-badge>opcion
                                    </li>
                                </ul>
                            </mdb-card-text>
                            <a href="#!" mdbBtn class="boton">Opción 1</a>
                        </mdb-card-body>
                        <!--/.Card content-->

                    </mdb-card>
                </div>
                <div class="col-6">
                    <mdb-card cascade="true" class="text-center" narrower="true">

                        <div class="view view-cascade text-white primary-color text-left ">
                            <h4 class="card-header-title ml-3 mt-5">Plan 2</h4>
                            <span class="ml-3 h4">$</span>
                            <h1 class="h1 ml-3 mb-5">99 <span class="h6">/mont</span></h1>
                        </div>

                        <mdb-card-body cascade="true" class="text-center">
                            <!--Card content-->

                            <mdb-card-text class="text-left">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <mdb-badge pill="true" color="blue lighten-4">
                                            <fa-icon [icon]="play" class="text-primary"></fa-icon>
                                        </mdb-badge>
                                        Opcion 1
                                    </li>
                                    <li class="list-group-item">
                                        <mdb-badge pill="true" color="blue lighten-4">
                                            <fa-icon [icon]="play" class="text-primary"></fa-icon>
                                        </mdb-badge>
                                        Opcion 2
                                    </li>
                                    <li class="list-group-item">
                                        <mdb-badge pill="true" color="blue lighten-4">
                                            <fa-icon [icon]="play" class="text-primary"></fa-icon>
                                        </mdb-badge>Opcion 3
                                    </li>
                                    <li class="list-group-item">
                                        <mdb-badge pill="true" color="blue lighten-4">
                                            <fa-icon [icon]="play" class="text-primary"></fa-icon>
                                        </mdb-badge>Opcion 4
                                    </li>
                                    <li class="list-group-item">
                                        <mdb-badge pill="true" color="blue lighten-4">
                                            <fa-icon [icon]="play" class="text-primary"></fa-icon>
                                        </mdb-badge>Opcion 5
                                    </li>
                                </ul>
                            </mdb-card-text>
                            <a href="#!" mdbBtn class="boton">Opción 2</a>
                        </mdb-card-body>
                        <!--/.Card content-->

                    </mdb-card>
                </div>
            </div>
        </div>
    </div>
</div>