.boton {
    background-color: rgb(212, 231, 245);
    color: #0D84F3;
}

mdb-card {
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: 0px !important;
    margin-left: 0px !important;
}