.boton {
    background-color: rgb(212, 231, 245);
    color: #0D84F3;
}

mdb-card {
    width: 100%;
}

.boton2 {
    width: 3em !important;
    height: 3em !important;
    border-radius: 50%;
}

fa-icon {
    display: inline-block;
    font-size: inherit;
    height: 1em;
    overflow: visible;
    vertical-align: -0.7em !important;
}