<div class="text-center mt-5">
    <mdb-badge pill="true" class="text-center green lighten-5 text-default" default="true">¿ Nesecitas Ayuda ?</mdb-badge>
    <h2 class="text-center  mt-2">Servicios</h2>
</div>

<div class="container">
    <div class="row">
        <div class="col-4">
            <mdb-card class="z-depth-0">
                <!--Card image-->
                <mdb-card-img src="../../assets/img/imgL1.PNG" alt="Card image cap"></mdb-card-img>
                <!--Card content-->
                <mdb-card-body>

                    <!--Title-->
                    <mdb-card-title class="text-center">
                        <h4 class="text-center">Card Title</h4>
                    </mdb-card-title>

                    <!--Text-->
                    <mdb-card-text class="text-center"> Some quick example text to build on the card title and make up the bulk of the card's content.
                    </mdb-card-text>
                </mdb-card-body>
            </mdb-card>
            <img src="../../assets/img/flecha.PNG" alt="" class="float-right">
        </div>
        <div class="col-4">
            <mdb-card class="z-depth-0">
                <!--Card image-->
                <mdb-card-img src="../../assets/img/imgL2.PNG" alt="Card image cap"></mdb-card-img>
                <!--Card content-->
                <mdb-card-body>

                    <!--Title-->
                    <mdb-card-title class="text-center">
                        <h4 class="text-center">Card Title</h4>
                    </mdb-card-title>

                    <!--Text-->
                    <mdb-card-text class="text-center"> Some quick example text to build on the card title and make up the bulk of the card's content.
                    </mdb-card-text>
                </mdb-card-body>
            </mdb-card>
            <img src="../../assets/img/lapso.PNG" alt="" id="img-center">
        </div>
        <div class="col-4">
            <mdb-card class="z-depth-0">
                <!--Card image-->
                <mdb-card-img src="../../assets/img/imgL3.PNG" alt="Card image cap"></mdb-card-img>
                <!--Card content-->
                <mdb-card-body>

                    <!--Title-->
                    <mdb-card-title class="text-center">
                        <h4 class="text-center">Card Title</h4>
                    </mdb-card-title>

                    <!--Text-->
                    <mdb-card-text class="text-center"> Some quick example text to build on the card title and make up the bulk of the card's content.
                    </mdb-card-text>
                </mdb-card-body>
            </mdb-card>
        </div>
    </div>
    <div class="ovalo">
        <img src="../../assets/img/ovalo.PNG" alt="" class="ovalo">
    </div>
</div>